{% extends "dashboard/board.html" %}
{% block title %}Maneger Dashboard{% endblock title %}
{% block tasks %}


<div class="bg-white rounded-xl shadow-sm text-sm">
  <div class="grid grid-cols-4 border-b p-6 border-gray-100 text-gray-500">
    <div>TASK TITLE</div>
    <div>PRIORITY</div>
    <div>TEAM</div>
    <div>CREATED AT</div>
  </div>

  {% for task in tasks %}
  <div class="grid grid-cols-4 border-b p-6 border-gray-100 items-center">
    <div class="flex items-center gap-2">
      <p class="w-2 h-2 bg-green-500 rounded-full"></p>
      {{ task.title }}
    </div>
    <div>
      <span
        class="bg-green-100 rounded-full px-5 py-2 text-green-600 font-semibold"
        >{{ task.details.get_priority_display }}</span
      >
    </div>
    <div class="flex -space-x-3">
      {% for emp in task.assigned_to.all %}
      <span
        class="bg-blue-500 text-white font-semibold h-10 w-10 flex justify-center items-center rounded-full border-2 border-white-500"
        >{{ emp.name|slice:':2' }}</span
      >
      {% endfor %}
    </div>
    <div>{{ task.created_at|timesince }}</div>
  </div>
  {% endfor %}
</div>

{% endblock tasks %}
